.Header {
    height: 6vh;
    background-color: #F2F2F2;
    color: black;
    font-size: 30px;
    padding: 0.8rem;
    text-align: left;
    align-items: center;
    font-weight: bold;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}